#splash, #income-protection-app {
background: #ffffff !important;
padding-bottom: 20px;  /* EBUS-1926 - CK*/

}

#income-protection-app #radioInputs label {
display:inline-block!important;
margin-left:5px;
}

#income-protection-app .errorText {
display:inline!important;
color:red!important;
font-weight:bolder;
}


#income-protection-app .ui-widget {
font-size:.875em!important;
}

#income-protection-app .hideDays {
display:none;
}

#income-protection-app .clacSlider {
margin-top:20px;
}

#income-protection-app #sliderOutput {
margin-top:40px;
}

#income-protection-app #income-protection-app form.custom .custom.dropdown .current {
font-size:13px;
}

#income-protection-app #income-protection-app #pageOne label {
color:#4d4e53;
text-shadow:-1px 1px 0 #fff;
font-size: 1.3em;
text-align:center;
}

#income-protection-app #pageTwo {
padding:65px;
}

#income-protection-app .output {
color:#50c9b5;
font-weight:700;
font-size: .873em;
}

#income-protection-app .sliderActive {
border:#5cc151 solid thin;
background:#FFF;
color:#5cc151;
padding:5px;
}

#income-protection-app #userJob .ui-widget-content {
background:#FFF!important;
}

.newClass{
	background: repeat;
}


.ui-autocomplete {
background:#fff!important;
}

.foundation-scope .button.supplementary {
background-color:#50c9b5;
color:#FFF;
border-color:#50c9b5;
}

.foundation-scope #pageOne a {
-webkit-transition:none;
-moz-transition:none;
-ms-transition:none;
-o-transition:none;
transition:none;
}

#income-protection-app #myModal input {
height:40px;
font-size:16px;
}

#income-protection-app #myModal label {
font-size:16px;
font-weight:700;
}

#income-protection-app #myModal p {
font-size:18px;
}

#income-protection-app #myModal form.custom .custom.dropdown.large {
height:100%;
}

#income-protection-app #personalDetails .description {
font-size:15px;
}

#income-protection-app #salaryError,#jobError {
margin-top:0!important;
}

#income-protection-app #userJob,#salary {
width:100%!important;
}

#income-protection-app #pageThree p {
color:#777;
font-size:17px;
font-weight:400;
line-height:1.4;
border-bottom:dotted 1px #ddd;
padding:.9375em;
}


.foundation-scope #income-protection-app form.custom .custom.dropdown {
font-size: 16px !important;
}

.reveal-modal label {
float:none!important;
font-size: 1em;
margin-right:8px;
padding-top:6px;
text-align:center;
width:auto!important;
}
.reveal-modal form input {
font-size: 1.3em;
}


#income-protection-app form label {
float:none!important;
font-size: 1.3em;
margin-right:8px;
padding-top:6px;
text-align:center;
width:auto!important;
}

#income-protection-app a.right {
background-image:none!important;
}

.lt-ie9 option {
text-align:center!important;
}

#income-protection-app #pageOne legend,#income-protection-app .dropdown,#salary,#userJob {
text-align:center;
font-size: 1.3em !important;
width:100%;
border-radius:3px 3px 0px 0px;
color:#fff;
background-color:#435399;
}

#income-protection-app #pageTwo .description,#income-protection-app #jobClassIssue,#income-protection-app #myModal form.custom .custom.dropdown .current {
font-size: 1.2em;
}

.reveal-modal form,#income-protection-app form {
border:none!important;
}

.center {
margin-left: auto!important;
margin-right: auto!important;
display: block!important;
float: none!important;
}


* + html #leftSummary, * + html #rightSummary {
width: 47% !important;
float: left !important;
} 


* + html #userDetails {
width: 65% !important;
float: left !important;
} 

* + html #chart {
width: 30% !important;
float: left !important;
} 

* + html #userDetails select, * + html #userDetails input[type="radio"], * + html #callTime {
display: block !important;
}

#userDetails input[type="radio"] {
width: 20% !important;
}

* + html #annualSalaryDiv, * + html #jobTitleDiv, * + html #retirementAgeDiv, * + html #deferredStatusDiv{
width: 45% !important;
float: left !important;
}

* + html #monthDiv, * + html #yearDiv, * + html #dayDiv, * + html #radioInputs .columns .columns {
width: 28% !important;
float: left !important;
}

* + html #bottomRow, * + html #topRow{
	width: 100%;
}

* + html #bottomRow .large-6 , * + html #topRow .large-6, * + html #leftTable, * + html #rightTable{
	float: left !important;
	width: 45%;
}
}

* + html #callTime input[type="text"] {
	width: 85% !important;
}

* + html .reveal-modal-bg {
	z-index: -1 !important;
	background: transparent !important;
	position: absolute !important;
}

* + html #userJob, * + html #salary {
height: auto !important;
}

#badDiv{
	display: none!important;
}

input{
	width: auto !important;
	display: inherit !important;
	margin: auto!important;
}

#income-protection-app input{
webkit-appearance: none!important;
-webkit-border-radius: 3px!important;
border-radius: 3px!important;
background-color: #fff!important;
font-family: inherit!important;
border: 1px solid #ccc!important;
color: rgba(0,0,0,.75)!important;
display: block!important;
font-size: 1.3em!important;
padding: .6em 3% !important;
height: 2.3125em!important;
width: 100%!important;
-moz-box-sizing: border-box!important;
-webkit-box-sizing: border-box!important;
box-sizing: border-box!important;
-webkit-transition: -webkit-box-shadow .45s,border-color .45s ease-in-out!important;
-moz-transition: -moz-box-shadow .45s,border-color .45s ease-in-out!important;
transition: box-shadow .45s,border-color .45s ease-in-out!important;
}

#income-protection-app .button, #income-protection-app button {
border-style: solid!important;
border-width: 1px!important;
cursor: pointer!important;
font-family: inherit!important;
font-weight: 700!important;
line-height: normal!important;
margin: 0 0 1.25em!important;
position: relative!important;
text-decoration: none!important;
text-align: center!important;
display: inline-block!important;
padding-right: 1.5em!important;
padding-left: 1.5em!important;
font-size: 1.3em!important;
background-color: #435399!important;
border-color: #414F88!important;
color: #fff!important;
}

#income-protection-app fieldset {
	border: solid 1px #b0c9eb !important;
	padding: 1.25em!important;
	margin: 1.125em 0!important;
	background-color:#eee;
}

.button.supplementary, #income-protection-app .button.supplementary{
background-color: #50c9b5!important;
color: #FFF!important;
border-color: #50c9b5!important;
}

.ui-widget-content {
border-left: 1px solid #838383!important;
border-right: 1px solid #838383!important;
border-top: 1px solid #838383!important;
border-bottom: 1px solid #b6b6b6!important;
background: #aaa!important;
-moz-border-radius: 3px!important;
border-radius: 3px!important;
-webkit-border-radius: 3px!important;
}

.ui-autocomplete {
background: #fff!important;
}

#income-protection-app .ui-helper-hidden-accessible{
	display: none !important;#
}

.ui-menu-item a {
text-decoration: none;
display: block;
padding: 2px .4em;
line-height: 1.5;
min-height: 0;
font-weight: normal;
}

ul.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
width: 260px;
z-index: 10;
list-style: none;
}

#leftSummary ul li.leaf {list-style-type:none;list-style:none}

#leftSummary li:before {
font-family: FontAwesome;
content: "\f061";
color: #00aad2;
margin-right: 5px;
}

*, :after, :before {
-moz-box-sizing: inherit;
 -webkit-box-sizing: inherit; 
 box-sizing: content-box; 
}

#income-protection-app *, #income-protection-app :after, #income-protection-app :before, #myModal *, #myModal :after, #myModal :before {
-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box; 
 box-sizing: border-box; 
}

#getQuote{width:100%}

#splash *, #splash :after, #splash :before {
-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box; 
 box-sizing: border-box; 
}

#lodaingPage{
	text-align: center;
}

#lodaingPage img{
	height: 30px;
    width: 30px;
    margin: auto;
    float: none;
}

form.custom .custom.dropdown {
margin-bottom: 0;
}

body li {
list-style-type: none!important;
}

.pricing-table{
	line-height: 1.2;
}

#jobClassIssue small{
	font-weight: bold !important;
	color: #333333 !important;
}

.tooltip{
	width: 20% !important;
}

.logo-img img{
 max-width: none; 
}

@media only screen and (max-width: 739px){ 

	body{
		position: inherit !important;
	}
}