		<div class="row startCalc">

            <div class="col-md-4">
              <h2 class="introHead">1. Calculate the Estate Value</h2>
              <p>Start by entering information to calculate the total value of the estate. This includes residences, investments, business assets, life  insurance, and so forth. </p>
              
            </div><!--/span-->
            <div class="col-md-4">
              <h2 class="introHead">2. Add Beneficiaries</h2>
              <p>Add up to four beneficiaries. Specify their relationship to the owner of the estate in question. Add some more information to determine their potential CAT liability. </p>
              
            </div><!--/span-->
            <div class="col-md-4">
              <h2 class="introHead">3. Produce Report</h2>
              <p>Produce a printable report to give to your clients. It will contain a summary of all the information entered and the relevant CAT liabilities for each of the beneficiaries in the estate. </p>
              
            </div><!--/span-->
          </div>
		  <div class="row >
		  <div class="col-md-12">
		  <button class="btn btn-lg btn-primary btn-block" onclick="javascript:startCAT()">Start Now &raquo;</button>
		  </div>
		  </div>