#group-nav-dropdown {    
    padding-left: 15px;
    padding-right: 15px;
	padding-top: 30px;
    background-color: #5261ac;
    width: 1080px;
    position: absolute;
    top: 41px;
    z-index: 9999;
    transition-delay: 0.2s;
    transition-duration: 0.4s;
    margin-left: 75px;}
	
#topBar {
    background-color: #5261ac;
    background: url('https://www.irishlife.ie/sites/all/modules/group_site_nav/img/gradient-header.jpg') repeat-x left bottom #5261ac;
    height: 50px;
    color: white;}

.container-12 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.group-navigation-label {
    font-size: 1.1em;
    line-height: 1em;
    padding: 15px 0;
    cursor: pointer;
	color: white;
	margin-left: 65px;
}

.group-navigation-label:hover {
    text-decoration: underline;
}

.grid-6 {
	display: inline;
    width: 460px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.grid-4 {
	width: 300px;
	display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;}	

.column {
	padding-bottom: 25px;
	color: #fff;}

.column a {
    color: white;
	text-decoration: none;}
	
.column img {
	width: 253px;}
	
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 8px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    margin-top: 4px;
    margin-left: 10px;
}	